body {background-color: #000000;
     color: #b2a4d4;
    font-family: sans-serif;}
a {
  color: inherit;
  text-decoration: inherit;
}
head {background-color: #000000;
     color: #f1a31a;
    font-family: sans-serif;}
h3 {background-color: #000000;
     color: #000000;
    font-family: sans-serif;}